html, body {
    height: 100%;
    margin: 16pt;
    color: #333;
}

#titlebar {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
}

#title {
    text-align: center;
    font: 600 36px sans-serif;
    padding: 10px;
    margin: 10px;
}

#selections {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font: 400 12pt sans-serif;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36pt;
    width: 90%;
    font: 400 12pt sans-serif;
}

select {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 6pt;
    font-size: 12pt;
    border: 1px solid #CCC;
    height: 30pt;
}

#relative {
    width: 12pt;
    height: 12pt;
    border: 1px solid #CCC;
}

#relative + label {
    font-size: 12pt;
}

#ok {
    width: 6em;
    padding: 6pt 6pt 6pt 6pt;
    margin: 2pt 2pt 2pt 2pt;
    font-size: 14pt;
    border: 1px solid #CCC;
    height: 30pt;
}

#output h1 {
    text-align: center;
    font: 600 28px sans-serif;
    padding: 10px;
    margin: 10px;
    color: #cccccc;
}

#imgdiv p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 90%;
    font: 400 12pt sans-serif;
    color: #cccccc;
}
