<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/rih.css">

    <link rel="icon" href="./favicon512.png" sizes="512x512" />
    <link rel="icon" href="./favicon192.png" sizes="192x192" />
    <link rel="icon" href="./favicon32.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="./favicon180.png" />
    <meta name="msapplication-TileImage" content="./favicon270.png" />
</head>

<body>
  <div id="titlebar">
    <h1 id="title">
      The Impact of Race and Ethnicity on Housing Values
    </h1>
  </div>

  <script>
    var changed = false;

    function onChangeSelect() {
        changed = true;

        const select_cbsa = document.getElementById("cbsa");
        const select_feature = document.getElementById("feature");
        const checkbox_relative = document.getElementById("relative");

        const ok_button = document.getElementById("ok");

        ok_button.disabled = !changed || (select_cbsa.value == "") || (select_feature.value == "");
    }

    function onOk() {
        changed = false;

        const cbsa = document.getElementById("cbsa").value;
        const feature = document.getElementById("feature").value;
        const relative = document.getElementById("relative").checked;

        const abs = relative ? "" : "abs-";
        const img_src = cbsa + abs + feature;

        document.getElementById("plot").src = img_src;

        const ok_button = document.getElementById("ok");
        ok_button.disabled = true;
        ok_button.innerText = ok_button.textContent = 'Update';
    }
  </script>

  <div id="intro">
    <p>
        This page allows you to look at any of hundreds of impact charts.
        If you would like to learn more about these charts, how they were
        generated, and how to interpret them, please see
        <a href="https://datapinions.com/using-interpretable-machine-learning-to-analyze-racial-and-ethnic-disparities-in-home-values/" target="_blank">
        this blog post</a>.
    </p>
  </div>

  <div id="selections">
    <p>Please select the area you are interested in:</p>
    <select name="cbsa" id="cbsa" onchange="onChangeSelect()">
      <option value="" disabled="true" selected="true">—</option>
      {%- for cbsa in top_n %}
        <option value="{{top_n[cbsa]}}">{{cbsa}}</option>
      {% endfor %}
    </select>

    <p>Please select the feature whose impact you want to plot:</p>
    <select name="feature" id="feature" onchange="onChangeSelect()">
        <option value="" disabled="true" selected="true">—</option>

        <option value="Not-Hispanic-or-Latino-American-Indian-and-Alaska-Native-alone.png">
        Fraction Not Hispanic or Latino American Indian and Alaska Native alone
        </option>
        <option value="Not-Hispanic-or-Latino-Asian-alone.png">
        Fraction Not Hispanic or Latino Asian alone
        </option>
        <option value="Not-Hispanic-or-Latino-Black-or-African-American-alone.png">
        Fraction Not Hispanic or Latino Black or African American alone
        </option>
        <option value="Not-Hispanic-or-Latino-Native-Hawaiian-and-Other-Pacific-Islander-alone.png">
        Fraction Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone
        </option>
        <option value="Not-Hispanic-or-Latino-Some-other-race-alone.png">
        Fraction Not Hispanic or Latino Some other race alone
        </option>
        <option value="Not-Hispanic-or-Latino-Two-or-more-races-Two-races-excluding-Some-other-race,-and-three-or-more-races.png">
        Fraction Not Hispanic or Latino Two or more races Two races excluding Some other race, and three or more races
        </option>
        <option value="Not-Hispanic-or-Latino-Two-or-more-races-Two-races-including-Some-other-race.png">
        Fraction Not Hispanic or Latino Two or more races Two races including Some other race
        </option>
        <option value="Not-Hispanic-or-Latino-White-alone.png">
        Fraction Not Hispanic or Latino White alone
        </option>
        <option value="Hispanic-or-Latino.png">
        Fraction Hispanic or Latino
        </option>
        <option value="Median-household-income-in-the-past-12-months-(in-{{ vintage }}-inflation-adjusted-dollars).png">
        Median household income in the past 12 months (in {{ vintage }} inflation adjusted dollars)
        </option>
    </select>

    <p>
      <input type="checkbox" id="relative" checked  onchange="onChangeSelect()"/>
      <label for="relative" class="relative-label">Plot impact as a percentage.</label>
    </p>

    <p><button id="ok" disabled="true" onclick="onOk()">OK</button></p>

  </div id="output">
    <h1 id="impact">Impact</h1>
    <div id="imgdiv">
      <img id="plot" src="./images/sample.png"></img>
    </div>
  </div>
</body>
